body {
  font-family: "Noto Serif", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

.background {
  background-image: linear-gradient(to right, #1c3763, #bb3b56);
  min-height: 100vh;
}

.user {
  display: none;
}

.logo {
  display: block;
  padding: 3em 5em;
}

.custom {
  padding-bottom: 2em;
}

.custom .btn-primary {
  background-color: #3862af;
  border-color: #3862af;
  width: 100%;
  padding: 1em;
  font-weight: bold;
}

.custom .btn-primary:hover {
  color: #000000;
  background-color: #1c3763;
}

.custom .form-control {
  background-color: unset;
  padding: 1.8em;
  color: white;
}

.custom .form-control::placeholder {
  font-weight: bold;
  color: white;
}

.custom .form-control:focus {
  background-color: #392a40;
  color: white;
}

.custom h3 {
  color: white;
  line-height: 2em;
  font-weight: bold;
}

.linkGroup {
  padding-top: 1em;
  color: white;
}

.linkGroup a {
  text-decoration: underline;
  color: white;
}

.linkGroup a:hover {
  color: blue;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .user {
    display: block;
    position: absolute;
    height: 100vh;
  }

  .logo {
    display: none;
  }

  .custom {
    padding: 30vh 2.5em;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .linkGroup a:hover {
    text-decoration: none;
    background: none;
    color: #392a40;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 1.3px;
    line-height: 0.75em;
  }
}
